
@font-face {
	font-family: Elric;
	src: url('fonts/elric.TTF');
}

@font-face {
	font-family: Scriptin;
	src: url('fonts/SCRIPTIN.ttf');
}

@font-face {
	font-family: Gotisch;
	src: url('fonts/GotischeMajuskel.ttf');
}

@font-face {
	font-family: Roundy;
	src: url('fonts/Roundy.ttf');
}
